body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#main-widget {
    padding: 20px;
    border-bottom: 2px solid black;
}

#clocks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.clock-widget {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
    position: relative;
}

.weather-icon {
    width: 50px;
}
